@import "compass/css3"; // compass css3 helpers

@import "font-awesome/variables";
@import "font-awesome/mixins";

@import "variables";
@import "mixins";

[class*="categories-icon-"] {
	background: none;
	@include icon;
	background: none;
	@include icon;
	color: #666;
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	&.icon-small {
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		vertical-align: middle;
		& + span {
			line-height: 16px;
		}
	}
	& + span {
		margin-left: 5px;
		display: inline-block;
		vertical-align: middle;
		line-height: 26px;
	}
}

.categories-icon-preview {
	width: 22px;
	height: 22px;
	margin: 0 5px;
	cursor: default;
}
.categories-icon-move {
	cursor: move;
	&:before {
		content: $fa-var-arrows;
	}
}
.categories-icon-edit:before {
	content: $fa-var-pencil;
}
.categories-icon-plus:before {
	content: $fa-var-plus-circle;
}
.categories-icon-minus:before {
	content: $fa-var-minus-circle;
}
.categories-icon-upload:before {
	color: #ccc;
	content: $fa-var-cloud-upload;
}
.categories-icon-checked:before {
	content: $fa-var-check-circle;
}
.categories-icon-info:before {
	content: $fa-var-info-circle;
}

.elgg-menu-categories {
	li {
		line-height: 18px;
		vertical-align: middle;
		text-indent: -15px;
		padding-left: 20px;
		padding-top: 4px;
		padding-bottom: 4px;
		& > span, & > a, & > a span {
			margin-right: 5px;
			display: inline;
			vertical-align: middle;
			line-height: 18px;
		}
	}
	.categories-icon-move {
		margin: 10px;
	}
	.categories-icon-plus, .categories-icon-minus {
		float: right;
		margin: 8px;
	}
	.categories-icon-info, .categories-icon-icon {
		cursor: pointer;
	}
	.elgg-menu-closed {
		.elgg-child-menu {
			display: none;
		}
		& > .elgg-child-menu-toggle > .collapse {
			display: none;
		}
		& > .elgg-child-menu-toggle > .expand {
			display: block;
		}
		&.elgg-menu-parent {
			margin-left: auto;
		}
	}

	.elgg-menu-open {
		& > .elgg-child-menu-toggle > .collapse {
			display: block;
		}
		& > .elgg-child-menu-toggle > .expand {
			display: none;
		}
	}

	.categories-category-icon img {
		height: 16px;
		width: auto;
		display: inline-block;
		vertical-align: middle;
	}

	.elgg-child-menu-toggle {
		margin: 0;
		cursor: pointer;
		color: #666;
		font-size: 11px;
		display: inline-block;
		vertical-align: bottom;
		margin-left: 15px;
	}
}


.categories-input {
	input[type="checkbox"], input[type="radio"] {
		display: inline-block;
		margin: 0 8px 0 0;
		vertical-align: middle;
		line-height: 18px;
	}
	label {
		font-size: 100%;
		font-weight: normal;
		display: initial;
		vertical-align: middle;
		line-height: 18px;
	}
}
.categories-manage {
	li {
		text-indent: 0;
	}
	input {
		margin: 0;
	}
	.categories-category-title,
	.categories-category-description,
	.categories-category-access,
	.categories-category-subtype {
		display: inline-block;
		margin: 5px 10px;
		vertical-align: middle;
		width: 25%;
	}
	.categories-category-block {
		border: 1px solid #e8e8e8;
		margin: 3px;
		background: #f4f4f4;
		padding: 4px;
	}

	.categories-icon-upload img {
		max-width: 100%;
	}

	.elgg-menu-categories ul li .categories-icon-plus {
		display: none;
	}
	.elgg-menu-categories ul li:last-child .categories-icon-plus {
		display: inline-block;
	}
	.categories-draggable-placeholder {
		border: 2px dashed #e8e8e8;
		height: auto;
		min-height: 200px;
		margin-left: 22px;
	}
	.elgg-child-menu-toggle, .elgg-child-menu-indicator {
		display: none;
	}
	.elgg-menu-categories .elgg-menu-closed .elgg-child-menu {
		display: block;
	}
}

.categories-category-full > .elgg-image {
	max-width: 100px;
	margin-right: 20px;
}

.categories-sidebar-tree-module {
	&:hover {
		overflow: visible;
		/*a, span {
			background: white;
		}*/
	}
	.elgg-foot {
		margin-top: 10px;
		text-align: right;
	}
	em {
		font-size: 11px;
		padding: 2px 5px;
		margin-left: 5px;
		background: $primary-color;
		color: white;
		@include border-radius(3px);
		font-style: normal;
	}
}

.elgg-menu-category-filter {
	em {
		font-size: 11px;
		padding: 2px 5px;
		margin-left: 5px;
		background: $primary-color;
		color: white;
		@include border-radius(3px);
		font-style: normal;
	}
}

.elgg-categories {
	@include clearfix;
	word-break: break-word;
	margin: 3px 0;
	font-size: 85%;
	line-height: 18px;
	.elgg-subtext & {
		font-size: inherit;
	}
	& > li {
		display: inline;
		&:after {
			content: ",";
			padding-right: 4px;
		}
		&:first-child:after, &:last-child:after {
			content: "";
		}
		a {
			font-style: normal;
		}
	}
}
.elgg-icon.elgg-icon-categories {
	background: none;
	@include icon;
	&:before {
		content: $fa-var-sitemap;
	}
}