[class*="categories-icon-"] {
  background: none;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
[class*="categories-icon-"].icon-small {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
}
[class*="categories-icon-"].icon-small + span {
  line-height: 16px;
}
[class*="categories-icon-"] + span {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
}

.categories-icon-preview {
  width: 22px;
  height: 22px;
  margin: 0 5px;
  cursor: default;
}

.categories-icon-move:before {
  content: "\f047";
  cursor: move;
}

.categories-icon-edit:before {
  content: "\f040";
}

.categories-icon-plus:before {
  content: "\f055";
}

.categories-icon-minus:before {
  content: "\f056";
}

.categories-icon-upload:before {
  color: #ccc;
  content: "\f0ee";
}

.categories-icon-checked:before {
  content: "\f058";
}

.categories-icon-info:before {
  content: "\f05a";
}

.elgg-menu-categories .categories-icon-move {
  margin: 10px;
}

.elgg-menu-categories .categories-icon-plus,
.elgg-menu-categories .categories-icon-minus {
  float: right;
  margin: 12px 10px;
}

.elgg-menu-categories .categories-icon-info,
.elgg-menu-categories .categories-icon-icon {
  cursor: pointer;
}

.elgg-menu-categories .elgg-menu-closed .elgg-child-menu {
  display: none;
}

.elgg-menu-categories .elgg-child-menu-toggle {
  margin: -5px 5px 0 0;
  cursor: pointer;
  color: #666;
  font-size: 11px;
  display: inline-block;
  vertical-align: bottom;
}
.elgg-menu-categories .elgg-child-menu-toggle + label {
  display: inline-block;
}

.elgg-menu-categories .elgg-menu-closed > .elgg-child-menu-toggle > .collapse {
  display: none;
}

.elgg-menu-categories .elgg-menu-open > .elgg-child-menu-toggle > .collapse {
  display: block;
}

.elgg-menu-categories .elgg-menu-closed > .elgg-child-menu-toggle > .expand {
  display: block;
}

.elgg-menu-categories .elgg-menu-open > .elgg-child-menu-toggle > .expand {
  display: none;
}

.elgg-menu-categories li {
  line-height: 18px;
  vertical-align: middle;
}

.elgg-menu-categories .elgg-menu-closed {
  /*margin-left: 14px;*/
}

.elgg-menu-categories .elgg-menu-closed.elgg-menu-parent {
  margin-left: auto;
}

.elgg-menu-categories ul {
  margin-left: 35px;
}

.categories-input input[type="checkbox"], .categories-input input[type="radio"] {
  display: inline-block;
  margin: 0 8px 0 0;
}

.categories-manage input {
  margin: 0;
}
.categories-manage .categories-category-title, .categories-manage .categories-category-description, .categories-manage .categories-category-access {
  display: inline-block;
  margin: 5px 10px;
  vertical-align: middle;
  width: 25%;
}
.categories-manage .categories-category-block {
  border: 1px solid #e8e8e8;
  margin: 3px;
  background: #f4f4f4;
  padding: 4px;
}
.categories-manage .categories-icon-upload img {
  max-width: 100%;
}
.categories-manage .elgg-menu-categories ul li .categories-icon-plus {
  display: none;
}
.categories-manage .elgg-menu-categories ul li:last-child .categories-icon-plus {
  display: inline-block;
}
.categories-manage .categories-draggable-placeholder {
  border: 2px dashed #e8e8e8;
  height: auto;
  min-height: 200px;
}
.categories-manage .elgg-child-menu-toggle {
  display: none;
}
.categories-manage .elgg-menu-categories .elgg-menu-closed .elgg-child-menu {
  display: block;
}

.categories-tree .elgg-menu-categories ul {
  margin-left: 13px;
}

.categories-tree .categories-category-icon img {
  height: 16px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.categories-tree li > span,
.categories-tree li > a,
.categories-tree li > a span {
  margin-right: 5px;
  display: inline;
  vertical-align: top;
  line-height: 26px;
}

.categories-category-full > .elgg-image {
  max-width: 100px;
  margin-right: 20px;
}

.categories-sidebar-tree-module {
  white-space: nowrap;
  overflow: hidden;
}
.categories-sidebar-tree-module:hover {
  overflow: visible;
  /*a, span {
  	background: white;
  }*/
}
.categories-sidebar-tree-module .elgg-foot {
  margin-top: 10px;
  text-align: right;
}
.categories-sidebar-tree-module em {
  font-size: 11px;
  padding: 2px 5px;
  margin-left: 5px;
  background: #4690d6;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-style: normal;
}

.elgg-menu-category-filter em {
  font-size: 11px;
  padding: 2px 5px;
  margin-left: 5px;
  background: #4690d6;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-style: normal;
}

.elgg-categories {
  *zoom: 1;
  word-break: break-word;
  margin: 3px 0;
  font-size: 85%;
  line-height: 18px;
}
.elgg-categories:before, .elgg-categories:after {
  content: " ";
  display: table;
}
.elgg-categories:after {
  clear: both;
}
.elgg-subtext .elgg-categories {
  font-size: inherit;
}
.elgg-categories > li {
  display: inline;
}
.elgg-categories > li:after {
  content: ",";
  padding-right: 4px;
}
.elgg-categories > li:first-child:after, .elgg-categories > li:last-child:after {
  content: "";
}
.elgg-categories > li a {
  font-style: normal;
}

.elgg-icon.elgg-icon-categories {
  background: none;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.elgg-icon.elgg-icon-categories:before {
  content: "\f0e8";
}
