@charset "UTF-8";
[class~="categories"], [class~="categories"] * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

[class*="categories-icon-"] { background: none; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background: none; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #666; font-size: 22px; line-height: 22px; text-align: center; vertical-align: middle; cursor: pointer; }
[class*="categories-icon-"].icon-small { font-size: 16px; line-height: 16px; text-align: center; vertical-align: middle; }
[class*="categories-icon-"].icon-small + span { line-height: 16px; }
[class*="categories-icon-"] + span { margin-left: 5px; display: inline-block; vertical-align: middle; line-height: 26px; }

.elgg-menu-categories li { line-height: 18px; vertical-align: middle; text-indent: -15px; padding-left: 20px; padding-top: 4px; padding-bottom: 4px; }
.elgg-menu-categories li > span, .elgg-menu-categories li > a, .elgg-menu-categories li > a span { margin-right: 5px; display: inline; vertical-align: middle; line-height: 18px; }
.elgg-menu-categories .elgg-menu-closed .elgg-child-menu { display: none; }
.elgg-menu-categories .elgg-menu-closed > .elgg-child-menu-toggle > .collapse { display: none; }
.elgg-menu-categories .elgg-menu-closed > .elgg-child-menu-toggle > .expand { display: block; }
.elgg-menu-categories .elgg-menu-closed.elgg-menu-parent { margin-left: auto; }
.elgg-menu-categories .elgg-menu-open > .elgg-child-menu-toggle > .collapse { display: block; }
.elgg-menu-categories .elgg-menu-open > .elgg-child-menu-toggle > .expand { display: none; }
.elgg-menu-categories img { width: 16px; height: 16px; width: auto; display: inline-block; vertical-align: middle; margin-right: 4px; }
.elgg-menu-categories .elgg-child-menu-toggle { margin: 0; cursor: pointer; color: #666; font-size: 11px; display: inline-block; vertical-align: bottom; margin-left: 15px; }

.categories-icon-preview { width: 22px; height: 22px; margin: 0 5px; cursor: default; }

.categories-icon-move { cursor: move; }
.categories-icon-move:before { content: ""; }

.categories-icon-edit:before { content: ""; }

.categories-icon-plus:before { content: ""; }

.categories-icon-minus:before { content: ""; }

.categories-icon-upload:before { color: #ccc; content: ""; }

.categories-icon-checked:before { content: ""; }

.categories-icon-info:before { content: ""; }

.categories-input input[type="checkbox"], .categories-input input[type="radio"] { display: inline-block; margin: 0 8px 0 0; vertical-align: middle; line-height: 18px; }
.categories-input label { font-size: 100%; font-weight: normal; display: initial; vertical-align: middle; line-height: 18px; }

.categories-manage li { text-indent: 0; }
.categories-manage input { margin: 0; }
.categories-manage .categories-category-title, .categories-manage .categories-category-description, .categories-manage .categories-category-access, .categories-manage .categories-category-subtype { display: inline-block; margin: 5px 10px; vertical-align: middle; max-width: 25%; }
.categories-manage .categories-category-title input, .categories-manage .categories-category-title textarea, .categories-manage .categories-category-title select, .categories-manage .categories-category-description input, .categories-manage .categories-category-description textarea, .categories-manage .categories-category-description select, .categories-manage .categories-category-access input, .categories-manage .categories-category-access textarea, .categories-manage .categories-category-access select, .categories-manage .categories-category-subtype input, .categories-manage .categories-category-subtype textarea, .categories-manage .categories-category-subtype select { margin: 0; }
.categories-manage .categories-category-block { border: 1px solid #e8e8e8; margin: 3px; background: #f4f4f4; padding: 4px; }
.categories-manage .categories-icon-upload img { max-width: 100%; }
.categories-manage .elgg-menu-categories ul li .categories-icon-plus { display: none; }
.categories-manage .elgg-menu-categories ul li:last-child .categories-icon-plus { display: inline-block; }
.categories-manage .categories-draggable-placeholder { border: 2px dashed #e8e8e8; height: auto; min-height: 200px; margin-left: 22px; }
.categories-manage .elgg-child-menu-toggle, .categories-manage .elgg-child-menu-indicator { display: none; }
.categories-manage .elgg-menu-categories .elgg-menu-closed .elgg-child-menu { display: block; }
.categories-manage .categories-icon-move { margin: 10px; }
.categories-manage .categories-icon-plus, .categories-manage .categories-icon-minus { float: right; margin: 8px; }
.categories-manage .categories-icon-info, .categories-manage .categories-icon-icon { cursor: pointer; }

.categories-category-full > .elgg-image { max-width: 100px; margin-right: 20px; }

.categories-category-badge { font-size: 11px; padding: 2px 5px; margin-left: 5px; background: #F4B400; color: white; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font-style: normal; }

.elgg-categories { *zoom: 1; word-break: break-word; margin: 3px 0; font-size: 85%; line-height: 18px; }
.elgg-categories:before, .elgg-categories:after { content: " "; display: table; }
.elgg-categories:after { clear: both; }
.elgg-subtext .elgg-categories { font-size: inherit; }
.elgg-categories > li { display: inline; }
.elgg-categories > li:after { content: ","; padding-right: 4px; }
.elgg-categories > li:first-child:after, .elgg-categories > li:last-child:after { content: ""; }
.elgg-categories > li a { font-style: normal; }

.elgg-icon.elgg-icon-categories { background: none; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.elgg-icon.elgg-icon-categories:before { content: ""; }

.categories-tree-input-node { display: none; }
